<dl class="alignedList">
	<div class="container">
		<div class="left">
			<dt>Work:</dt>
		</div>
		<div class="right">
			<dd><%= @metaphor.work.title %></dd>
		</div>
	</div>
	<div class="container">
		<div class="left">
			<dt>Printer:</dt>
		</div>
		<div class="right">
			<dd><%= @metaphor.work.printer %></dd>
		</div>
	</div>
	<div class="container">
		<div class="left">
			<dt>Year:</dt>
		</div>
		<div class="right">
			<dd><%= h @metaphor.work.year %></dd>
		</div>
	</div>
	
</dl>