<div id='simple_captcha' class="container">
	
	<div class='simple_captcha_field left'>
		<%= @simple_captcha_options[:field] %>
	</div>

	<div class='simple_captcha_image right leftText'>
		<%= @simple_captcha_options[:image] %>
	</div>
	
</div>