<div class="top_nav"><%= link_to 'Back', admin_occupations_path %></div>

<h1>New occupation</h1>

<% form_for(@occupation, :url => {:action => :create}) do |f| %>
  
  <%= render 'form_fields', :f=>f %>
	
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<div class="bottom_nav"><%= link_to 'Back', admin_occupations_path %></div>
