/**
 * $Id$
 */

/** HTML styles */
html {
	background-color: #C1C2B0;
}

body {
	margin: 0;
	padding: 0;
	color:#000000;
	background-color:#FFFFFF;
}

a{ 
	color:#993300;
	text-decoration: none;
}

a:hover{ color:#993300; 
	text-decoration: underline;}

/** override yui styles */

#yui-main{background-color:#222;}

#doc3 {
	min-width: 750px;
	margin: 0;
	padding: 0;
}

#hd {
	background: #231F20;
}

#bd {
	background: #222 url('/images/book_background.jpg') repeat fixed 0 0;
	width: 100%;
	
}

#resultsHeader .yui-u {
	width: 32%;
	font-size:80%;
}

/** header navigation styles */
#header_nav {
	background: #231F20;
	color: #fff;
	text-align: right;
	padding: 0;
	width: 750px;
	margin: auto !important;
}

#header_nav ul{
	padding: 0;
	list-style: none;
	margin:1em 0;
}

#header_nav ul li{
	display: inline;
	font-size: 1.2em;
	padding: .2em 1em;
	color: #9998ac;
}

#header_nav a {
	color: #fff;
	text-decoration: none;
}

#header_nav a:hover {
	text-decoration: underline;
}

/** image banner logo */
#logo_band {
	background: #dddcdc;
	height: 158px;
	background-image: url('/images/header_background.gif');
	background-repeat: repeat-x;
}

img.logo{
	display: block;
	margin: auto !important;
}

/** main content */
#main_content {
    /* 20px padding so the contained elements don't need to worry about it*/
    padding:20px;
    /* real width is 750, but must adjust because of the padding above */
	width: 710px;
	margin: auto !important;
	background: #FFFFFF;
}

#main_content p {
	/*font-family: Georgia, serif;
	line-height: 1.8em; just changed so about paragraphing looks better*/
	line-height: 1.3em;
	margin-left: 1.5em;
	margin-right: 1.5em;
}

#main_content h4 {
	margin-bottom: 1.5em;
}

#metaphor_content h3.filters {
	color: #fff;
	margin-left: 1em;
}

#metaphor .yui-u h3 {
	margin: 0;
}

p.attribution {
	text-align: right;
	font-size: .7em;
}

blockquote {
	margin-left: 2em;
	margin-right: 2em;
	font-size: 1.2em;
}

#metaphor .yui-gf {
	margin: 1em 0;
}

.remove_facet {
	margin-left: 2em;
	color: #fff;
}

/** search box */
#search_box {
	background: #FFF;
	padding: 15px;
	color: #080808;
	margin-bottom:1em;
	
}
#search_box fieldset{margin:0;}

/*
#search_box input.text.active {
	background: #ddeff6;
	border: 1px solid #0099d4;
}
*/

#searchParamsMsg a {
	color: #DF1D2B;
	text-decoration: none;
}


#searchParamsMsg{
    margin-top:1em;
}

#searchParamsMsg strong{
    font-style:italic;
    font-weight:normal;
	color: #000;
}

#searchParamsMsg em {
	color: #993300;
}

fieldset.search {
	border: none; 
	width: 20px;
	margin: 0 auto;
	background: #FFF;
}

.search input, .search button {
	border: 3px solid #CCC;
	float: left;
}

.search input {
	color: #616161;
	font-size: 120%;
	width: 400px;
	height: 25px;
	padding: 8px 5px 2px 36px;
	margin-right: 5px;
	background: #fff url('/images/search_48.png') no-repeat;
}

		
#content {
	float: right;
	text-align: left;
}

#sidebar{
   /* background-color:#292929;*/
	background-color:#292929;
}

ul#menu {
    margin-top:.5em;
    margin-left:.5em;
}

ul#menu, ul#menu ul {
	font-family: Georgia, serif;
	list-style: none;
}

ul#menu li {
	list-style: none;
}
	
.facet_count {
	float: right;
	color: #FFF;
	font-family: sans-serif;
	margin-right: 0em;
}

.facet_count a {
	color: #DF1D2B;
	text-decoration: none;
}

.facet_count a:hover {
	text-decoration: underline;
}
		
ul#menu .caps {
	text-transform: uppercase;
} 
		
ul#menu .caps a {
	color: #B0B0B0;
	text-decoration:none;
}
		
ul#menu .submenu a {
	color: #FFF;
}

ul#menu .submenu a:hover {
	color: #9998AC;
}
		
ul#menu .submenu {
	font-size: 90%;
}
		
ul#menu ul {
	text-transform: none;
	color: #ccc;
	margin:1em;
}



#results {
	color: #fff;
}

div.result{
    padding: 15px;
    border-top: 1px dotted #292929;
    padding-bottom:1em;
}

div.result p{
	font-family: Georgia, serif;
	letter-spacing:.05em;
	line-height:140%;
    color:#080808;
}

.result a{text-decoration:none;}

.result a, .result a:visited {
	color: #333;
}

.result a:hover {
	color: #999A8C;
}

.right {
	text-align: right;
}

div.container {
	overflow: hidden;
	width: 100%;
}

#menu .container {
	line-height: 1.6em;
}

div.one-third{
    width:33%;
}

div.left {
	float: left;
}

div.right {
	float: right;
}

div.center {
	float: left;
	text-align:center;
}

.leftText{text-align:left;}
.rightText{text-align:right;}
.centerText{text-align:center;}

div.half{
    width:50%;
}

.selected{
    color:#993300;
}

.details_container{
    margin-top:.5em;
    background-color:#FFF;
    padding:.2em;
    display:none;
}

.pagination{
	padding-top:5px;
	padding-bottom:5px;
	text-align: center;
	margin: auto !important;
	color: #000000;
	font-size: 105%;
}

.pagination a{
	text-decoration: none;
	font-size: 90%;
}

.pagination a, .pagination a:visited {
	color: #606060;
}

.alignedList{padding:1em; margin:0;}
.alignedList .left {
    width:10%;
    text-align:right;
}
.alignedList .right {
    width:90%;
}

#ft {
	background-image: url('/images/footer_background.gif');
	background-repeat: repeat-x;
	padding-top: 18px;
	color: #333132;
	height: 100px;
	font-size: 12px;
}

#ft a, #ft a:visited {
	color: #333132; 
/* I like the orange... But just for my name and UVa	color: #E56717; */
	text-decoration: none; 
}

#ft a:hover {
	color: #535152; 
}

#author_container {
	width: 300px;
	float: left;
	display: block;
	padding-right: 10px;
}

#author_container a {
/*	text-decoration: underline !important; */
	color: #993300;
}

#util_container {
	width: 200px;
	display: block;
	float: right;
	padding-right: 10px;
	text-align: right;
}

#ft_wrap {
	width: 740px;
	margin: auto !important;
	padding-top: 20px;
}

.scholars_lab_logo {
	display: block;
	float: right;
	height: 60px;
	padding-left: 10px;
	border-left: 1px dotted #333132;
}

.scholars_lab_logo img {
	height: 30px;
	padding-top: 15px;
}

.copyright {
	display: block;
	height: 18px;
	width: 100%;
	padding-bottom: 2px;
}

.copyright img {
	display: inline;
	margin-left: 5px;
	vertical-align: bottom;
	height: 18px;
}

.rss{
	display: block;
	height: 18px;
	padding-bottom: 2px;
}

.rss img {
	display: inline;
	margin-left: 5px;
	vertical-align: bottom;
	height: 18px;
}
#ft .contact{
	display: block;
	height: 18px;
}

#ft .contact img {
	display: inline;
	margin-left: 5px;
	vertical-align: bottom;
	height: 18px;
}

/** custom classes */
.serif {
	font-family: Georgia, serif;
}

#resultsForm{
    font-size:90%;
    margin-bottom:2em;
}

.errorList{
    background-color:#222;
    padding:.5em;
}
.errorList li{
    margin:0;
    padding:0;
    list-style:none;
}

form fieldset>.container{
    margin-bottom:.5em;
}

form fieldset .container .left{
    width:25%;
}

form fieldset .container .right{
    width:73%;
    text-align:left;
}

#simple_captcha .left{
    width:30%;
}
#simple_captcha .right{
    width:65%;
}

.delete {
	color: red;
}

.active {
	background: #616161;
}

.decimal li{
	list-style-type: decimal;
}