<h1>About the Facets</h1>
<p><em>The Mind is a Metaphor</em> website allows for faceted browsing. You may search for metaphors by entering a keyword or keywords, an author name, or a year directly into the search box; or you may select (and unselect) filters from the left side of the main page, narrowing and expanding search results. While browsing, a quick glance at the facets displayed on the left side of the page, will give you some sense of the distribution of a metaphor across periods and genres as well as some indication of the beliefs and backgrounds of those authors who have used the metaphor in their writing.</p>

<h3>Specific facets are more fully explained below.</h3>

<p>
	<strong>Literary Period</strong>. Although the preponderance of metaphors collected here originate in the long eighteenth century, I continue to add to the database and have plans to expand the collection of metaphors across neighboring periods, working my way forward to the twentieth century. Conventional periodizations for English literature, drawn loosely from the <em>Norton Anthology of English Literature</em>, are provided as follows:</p>
	<p>
			<ol class="decimal">
				<li>Middle Ages (500-1500)</li>
				<li>Tudor Literature (1485-1603)</li>
				<li>Early Modern (1500-1800)</li>
				<li>Elizabethan (1558-1603)</li>
				<li>Seventeenth Century (1600-1700)</li>
				<li>Early Seventeenth Century (1603-1660)</li>
				<li>Civil War and Commonwealth (1641-1660)</li>
				<li>Long Eighteenth Century (1660-1789)</li>
				<li>Restoration (1660-1714)</li>
				<li>Augustan (1700-1745)</li>
				<li>Eighteenth Century (1700-1800)</li>
				<li>Age of Sensibility (1740-1798)</li>
				<li>Industrial Revolution (1760-1840)</li>
				<li>Romantic (1785-1832)</li>
				<li>French Revolution (1789-1815)</li>
				<li>Nineteenth Century (1800-1900)</li>
				<li>Reform and Counterrevolution (1815-1848)</li>
				<li>Victorian (1837-1901)</li>
				<li>Aestheticism and Decadence (1870-1901)</li>
				<li>Twentieth Century (1900-2000)</li>
				<li>Edwardian (1901-1914)</li>
				<li>Modernism (1910-1945)</li>
				<li>Interwar (1914-1939)</li>
				<li>Post-WWII (1945-1989)</li>
			</ol>
		</p>
<p>
	<strong>Metaphor Categories</strong>. Treated here is the long eighteenth century, a neoclassical period; that is, a period that would, by confronting the past,  newly classify the world. My categories are meant to help map those constellations of metaphors for the mind that visitors to this site will find most interesting. My categories and subcategories are then a heuristic or a finding aid. They do not correlate with any rigid concept scheme. They are a product of inductive work, of clustering and classifying those metaphors I've collected. The categories are imposed upon the unruly figuration I've dredged up; they do not cut cleanly into the discourse nor could they. Note, a metaphor — the same metaphor — may belong to multiple categories.</p>
	
<p>
	<strong>Genre</strong>. Major generic divisions here observed include poetry, non-fiction prose, prose fiction, and drama.</p>
	
<p>
	The <strong>Gender</strong> of an author is given where known. Women writers are currently outnumbered six to one in the database. I'm not happy about that and have considered trying to better balance the authors. Still, Katherine Philips, Sarah Fielding, Anna Seward, and Anna Letitia Barbauld contribute many of my favorite metaphors.</p>
	
<p>
	<strong>Nationality</strong>. The English literature of the period in which I am most interested bedevils the assignment of "nationality." The long eighteenth century in England is witness to two Acts of Union (1707, 1800) and a declaration of independence by the American colonies. I have tried to specify authors' nationalities according to their places of birth. There are then English, Scottish, and American authors listed here, but only a few "British" authors. I realize  that "Irish or Anglo-Irish" is a particularly unsatisfactory national designation.</p>
	
<p>
	<strong>Politics</strong>. An author is given a party label only when I find mention of his or her politics in the <em>Oxford Dictionary of National Biography</em> or an equally reputable biographical source. The label is applied to authors and not to works of literature, which  necessitates the use of some cumbersome labels. (Daniel Defoe, for example, is notorious for changing political affiliations.) My labels were first generated for a set of clustering and classifying experiments undertaken with the computer scientist D. Sculley. These experiments tested connections between metaphorical usage and party affiliation and are the subject of an article on "Meaning and Mining" published in <em>Literary and Linguistic Computing</em>: <a href="http://llc.oxfordjournals.org/cgi/content/abstract/fqn019">link</a>. As I am interested primarily in metaphor and eighteenth-century party politics, I have been most assiduous in labeling eighteenth-century authors. </p>
	
<p>
	<strong>Religion</strong>. An author's religious beliefs are likewise labeled when given in the <em>ODNB</em>. Converts from one religion to another are so labeled.  Again, converts may collect multiple, conflicting labels. (<em>Vide</em> John Dryden.)</p>