<div class="top_nav"><%= link_to 'Back', admin_politics_path %></div>

<h1>New politic</h1>

<% form_for(@politic, :url => {:action => :create}) do |f| %>
  
  <%= render 'form_fields', :f=>f %>
	
	<p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<div class="bottom_nav"><%= link_to 'Back', admin_politics_path %></div>
